page-home {
    .scroll-content {
        font-family: 'Segoe UI Light', sans-serif;
        //img{width: 20%}
        ion-label h2{white-space: pre-line; font-size: 1.4em;}
        .username{font-size: 2em; text-align: center; padding: 0 0 .6em 0}
        ion-card{ width: 100% !important; margin: 0 !important; background: #15202b !important; border-top: 1px solid #38444d; }
        ion-card:last-child{ border-bottom: 1px solid white}
        ion-card>ion-item{background: #15202b !important}
        ion-card h2, ion-card p, ion-note{color: white !important;}
        ion-card-content{margin-top: -1.5em; font-size: 1em; position: relative; z-index: 9; padding-left: 4.2em}
        ion-avatar{margin-right: 6px !important}
        ion-card>ion-item>.item-inner>.input-wrapper{align-items: flex-end; padding-bottom: .5rem; font-size: .65em !important; height: 3em !important}
        ion-datetime{margin: 0 !important; padding: 0 !important; color: white !important;}
        ion-datetime>button{display: none !important;}
        .likes_title, .comments_title{}
        .likes_comments_bar{display: flex; justify-content: space-around; padding: 0 !important}
    }
}

//#15202b
//#10171e